@font-face {
    font-family: LeagueSpartan;
    src: url(/assets/fonts/leagueSpartan/LeagueSpartan-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: LeagueSpartan;
    font-weight: 550;
}
body{
    background-image: url(/assets/img/patinhas.png);
     

}
header{
    margin: 20px;
}
button{
    border: none;
    background-color: transparent;
}
.seta{
    width: 2rem;
    rotate: 180deg;
    display: flex;
    align-items: center;

}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: rgb(59, 59, 217);
    margin: 10px;
    font-weight: 700;
}

.red{
    color: rgb(223, 54, 54);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 400px;
    font-size: 19px;
    box-shadow: 1px 1px 30px rgb(62, 74, 98);
    padding: 60px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
}

.texto{
    padding: 8px;
}
.coracao{
    width: 40px;
}

#c-direita{
    position: relative;
    top: 30px;
    left: 190px;
    rotate: 330deg;
}
#c-baixo{
    position: relative;
    top: 10px;
    right: 60px;
    rotate: 10deg;
    width: 70px;
    
}

@media screen and (max-width:480px) {
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
        margin: 30px;
    }

    #c-direita{
        position: relative;
        left: 120px;
        
    }
}